name: PyTest Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: 1.6.1
      - name: Install dependencies
        run: poetry install --with dev
      - name: Run pytest
        env:
          EV_API_KEY: ${{ secrets.EV_API_KEY }}
        run: poetry run pytest --junitxml=junit/test-results.xml --cov=easyverein --cov-report=xml --cov-report=html
